
body { 
    font-family: 'Segoe UI', Arial, sans-serif; 
    color: #5d4037; 
    margin: 0; 
    padding: 0; 
}


header { 
    background-color: #fdf2f5 !important; 
    padding: 20px 0; 
    border-bottom: 2px solid #fce4ec; 
}
.logo{
  color: #d81b60;
   font-size: 1.5rem;
text-decoration: none;
}
.navbar-nav .nav-link{
    color: #d81b60;
}
.skin-card { 
    border-radius: 20px !important; 
    border: none !important; 
    transition: 0.3s; 
    padding: 20px;
    height: 100%;
}
.bg-oily { background-color: #f8e1e7 !important; }
.bg-dry { background-color: #fce4ec !important; }
.bg-combination { background-color: #dbadc4 !important; }
.bg-normal { background-color: #ddd3ce !important; }
.bg-sensitive { background-color: #d7ccc8 !important; }


.btn-primary, .back-home-btn { 
    background-color: #d81b60 !important; 
    border-color: #d81b60 !important; 
    border-radius: 20px !important; 
    color: white !important;
    padding: 10px 25px !important;
    text-decoration: none;
    display: inline-block;
}


.page-container { 
    padding: 50px 0; 
    max-width: 800px; 
    margin: 0 auto; 
    text-align: center; 
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
    min-height: 80vh;       
    text-align: center;
}



footer {
    background-color: #fce4ec;
    color: #d81b60;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

@media (max-width: 768px) {
    header .container { flex-direction: column; gap: 15px; }
    .nav-list { flex-direction: column; align-items: center; gap: 10px; }
}